@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "emptycoffee";
    default: false;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(98% 0.016 73.684);
    --color-base-200: oklch(95% 0.038 75.164);
    --color-base-300: oklch(90% 0.076 70.697);
    --color-base-content: oklch(40% 0.123 38.172);
    --color-primary: oklch(76% 0.233 130.85);
    --color-primary-content: oklch(98% 0.031 120.757);
    --color-secondary: oklch(62% 0.214 259.815);
    --color-secondary-content: oklch(97% 0.014 254.604);
    --color-accent: oklch(64% 0.246 16.439);
    --color-accent-content: oklch(96% 0.015 12.422);
    --color-neutral: oklch(40% 0.123 38.172);
    --color-neutral-content: oklch(98% 0.016 73.684);
    --color-info: oklch(68% 0.169 237.323);
    --color-info-content: oklch(97% 0.013 236.62);
    --color-success: oklch(76% 0.233 130.85);
    --color-success-content: oklch(98% 0.031 120.757);
    --color-warning: oklch(79% 0.184 86.047);
    --color-warning-content: oklch(98% 0.026 102.212);
    --color-error: oklch(63% 0.237 25.331);
    --color-error-content: oklch(97% 0.013 17.38);
    --radius-selector: 0.25rem;
    --radius-field: 0.25rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 1;
  }
  